#colorbar1 {
  width: 33.3%;
  height: 100vh;
  float: left;
  background-color: rgb(45, 176, 241);
}


#colorbar2 {
  width: 33.3%;
  height: 100vh;
  float: left;
  background-color: rgb(45, 241, 206) !important;
}

#colorbar3 {
  width: 33.3%;
  height: 100vh;
  float: left;
  background-color: rgb(139, 249, 121) !important;
  position: relative;
}

.imgholder {
  background-color: rgb(240, 62, 62);
  width: 100%;
  color: white;
  font-family: sans-serif;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  height: 100px;
  position: absolute;
  bottom: 0;
}
